# Supabase Configuration
# These will be read automatically by @nuxtjs/supabase module
SUPABASE_URL=https://attfojpvvpzkuipuieez.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF0dGZvanB2dnB6a3VpcHVpZWV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4OTYzMDQsImV4cCI6MjA4NzQ3MjMwNH0.RUAeeQ5KlvGXH168CcoVb2RecIctnlq3O7wo7LSIAQk
